body {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  line-height: 20px;
}
.holder{
  /* max-width: 960px; */
  margin: 1%;
}
h2 {
  color: rgb(6, 118, 26);
  font-weight: 400;
}
header h1 {
  color: rgb(6, 118, 26);
  font-size: 50px;
  /* font-weight: 100; */
  font-style: normal;
  display: inline-block;
  position: relative;
  bottom: 35px;
  margin-left: 10px;
}