<div class="container" style="margi:100px auto">
    <div class="row">
        <div class="col-6 offset-3">
            <h4>Agregar un nuevo proyecto</h4>
            <form action="/admin/proyectos/agregar" method="post">
                <div class="mb-3 row"><input type="text" class="form-control" placeholder="Proyecto" name="proyecto">
                </div>
                <div class="mb-3 row"><textarea type="text" class="form-control" placeholder="Descripcion"
                        name="descripcion"></textarea></div>
                <div class="mb-3 row"><input type="text" class="form-control" placeholder="Foto"
                        name="foto"></input></div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
            {{#if error}}
            <p>{{message}}</p>
            {{/if}}
        </div>
    </div>
</div>