.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.galeria img {
    width: 18%;
    border: 1px solid rgb(232, 232, 232);
    padding: 0.3em;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-right: 2%;
}