.proyecto {
    border: 1px solid rgb(205, 204, 204);
    border-radius: 10px;
    padding: 16px;
    margin: 16px 0;
    display: flex;
    gap: 32px;
    align-items: center;
}
.proyecto .info h4 {
    color:rgb(6, 118, 26);
    font-weight: 500;
    font-style: italic;
    border-bottom: 1px solid rgb(6, 118, 26) ;
}
.proyecto .info p {
    font-size: 13px;
}
.proyecto img {
    border-radius: 13px;
    display: block;
    max-width: 225px;
}
.proyecto:nth-child(even) {
    flex-direction: row-reverse;
}