/* font-family: 'Oswald', sans-serif;
font-family: 'Square Peg', cursive;
font-family: 'Water Brush', cursive; */


p {
    font-style: italic;
}

h1 {
    color: blue;
}

h2 {
    color: blue;
}

.distinto {
    font-weight: bold;
}

#titulo {
    font-family: 'Oswald', sans-serif;
    font-family: 'Square Peg', cursive;
    font-family: 'Water Brush', cursive;
    font-size: xx-large;
    width: 400px;
    height: 100px;

    margin: 0 auto;
}

#competencias {
    width: 300px;
    height: 150px;
    background: #1b00ff;
    background: linear-gradient(2deg, #1b00ff 0%, #00acff 80%);
    background: -webkit-linear-gradient(2deg, #1b00ff 0%, #00acff 80%);
    background: -moz-linear-gradient(2deg, #1b00ff 0%, #00acff 80%);
    margin-bottom: auto;
    border-radius: 0px 100px 0px 0px;
    -webkit-border-radius: 0px 100px 0px 0px;
    -moz-border-radius: 0px 100px 0px 0px;
}

.foto {
    display: block;
    margin: auto;
}