<h1>Servicios ofrecidos</h1>
<h2>servicio 1</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero reiciendis natus, explicabo exercitationem deserunt
    totam. Doloremque tenetur eaque similique, quod nostrum ducimus incidunt sunt molestiae consequuntur eligendi in
    aliquid suscipit?</p>
    <h2>Servicio 2</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis debitis eligendi quas nam fuga ipsam asperiores nihil nulla voluptatem reprehenderit. Minus deleniti itaque recusandae optio laboriosam at accusamus labore eos!</p>