.caja { width: 300px;
height: 300px;
background: #22b11a;
background: linear-gradient(113deg,#22b11a 0%, #b6ff00 80%);
background: -webkit-linear-gradient(113deg,#22b11a 0%, #b6ff00 80%);
background: -moz-linear-gradient(113deg,#22b11a 0%, #b6ff00 80%);
margin: 100px;}