/*font-family: 'Nunito', sans-serif;  */
body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

header {
    background-color: rgb(197, 161, 18);
    padding: 16px 0;
}

header h1 {
    color: rgb(6, 118, 26);
    font-size: 50px;
    /* font-weight: 100; */
    font-style: normal;
    display: inline-block;
    /* position: relative; */
    bottom: 35px;
    margin-left: 10px;
}

footer {
background-color: gray;
clear: both;
color: rgb(42, 41, 41);
text-align: center;
padding: 50px 0;
margin-top: 20px;
}
.holder{
    /* max-width: 960px; */
    margin: 1%;
}
h2 {
    color: rgb(6, 118, 26);
    font-weight: 400;
}




